@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   font-synthesis: none;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   -webkit-text-size-adjust: 100%;
   // colors
   --tw-main: 26 21 60;
   --main: rgb(var(--tw-main));
   --tw-main-dark: 18 14 39;
   --main-dark: rgb(var(--tw-main-dark));
   --tw-main-light: 47 40 87;
   --main-light: rgb(var(--tw-main-light));
   --tw-main-extralight: 72 67 109;
   --main-extralight: rgb(var(--tw-main-extralight));
   --tw-complementary: 236 162 37;
   --complementary: rgb(var(--tw-complementary));
   --tw-grey-dark: 142 138 167;
   --grey-dark: rgb(var(--tw-grey-dark));
   --tw-grey-light: 241 240 249;
   --grey-light: rgb(var(--tw-grey-light));
   --tw-white: 252 253 254;
   --white: rgb(var(--tw-white));
   --overlay: rgba(225, 225, 227, 0.6);
   --tw-on-focus: 189 184 223;
   --on-focus: rgb(var(--tw-on-focus));
   --tw-red: 239 67 67;
   --red: rgb(var(--tw-red));
   // fonts
   --text-regular: 'nunitosans regular';
   --text-semibold: 'nunitosans semibold';
   --text-extrabold: 'nunitosans extrabold';
   font-family: var(--text-regular);
}


//// START OF APP SECTIONS ////
#root {
   max-width: 100%;
   background-color: var(--white);
}

nav {
   &~section {
      max-width: 1300px;
      padding: 50px 6vw;
      width: 100%;
      margin: auto;

      @media (max-width: 500px) {
         padding: 50px 2.5vw;
      }

      >h2 {
         text-align: center;
      }
   }

   &+section {
      padding-top: 3rem;
      min-height: 100vh;
      min-height: 100svh;
   }
}

nav>section {
   max-width: 1350px;
}

footer>section {
   max-width: 1300px;
   width: 100%;
   margin: auto;
}

//// END OF APP SECTIONS ////


//// START OF TEXT SET UP ////
h1 {
   font-size: 3.25rem;
   line-height: 1.1em;
   font-family: var(--text-extrabold);

   >strong,
   >b {
      font-family: inherit;
   }
}

h2 {
   font-size: 1.875rem;
   font-family: var(--text-extrabold);

   >strong,
   >b {
      font-family: inherit;
   }
}

h3 {
   font-size: 1.5rem;
   font-family: var(--text-semibold);

   >strong,
   >b {
      font-family: inherit;
   }
}

strong {
   font-family: var(--text-extrabold);
}

b {
   font-family: var(--text-semibold);
}

p {
   font-size: 0.9375rem;
}

small {
   display: block;
   font-size: 0.875rem;
}

q {
   quotes: none;
   display: block;
   font-size: 0.75rem;
}

//// END OF TEXT SET UP ////


//// START OF RESETS ////
*,
*::before,
*::after {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

a {
   text-decoration: none;
}

img,
picture,
video,
canvas,
svg {
   display: inline-block;
   max-width: none;
   vertical-align: baseline;
}

svg {
   vertical-align: middle;
}


input,
button,
textarea,
select {
   font: inherit;
}

button {
   border: none;
   background: none;
   padding: 0;
   cursor: pointer;
}

//// END OF RESETS ////



//// START OF FONTS ////
@font-face {
   font-family: 'nunitosans regular';
   src: url('/Fonts/nunitosans-regular.woff2') format('woff2'),
      url('/Fonts/nunitosans-regular.woff') format('woff');
}

@font-face {
   font-family: 'nunitosans semibold';
   src: url('/Fonts/nunitosans-semibold.woff2') format('woff2'),
      url('/Fonts/nunitosans-semibold.woff') format('woff');
}

@font-face {
   font-family: 'nunitosans extrabold';
   src: url('/Fonts/nunitosans-extrabold.woff2') format('woff2'),
      url('/Fonts/nunitosans-extrabold.woff') format('woff');
}

//// END OF FONTS ////